<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- путь где лежать исходники json  -->
    <add key="dirName" value="G:\\velcomtest\\source_json\\" />
    
    <!-- регулярка по которой идет выборка хешЗначения для рассматриваемых файлов -->
    <add key="jsonhashreg" value="Request \'([A-Za-z0-9\-]+)\'" />
    
    <!-- регулярка для выборки номера текущего файла -->
    <add key="jsonNumberreg" value="message ([A-Za-z0-9\-]+) " />
    
    <!-- разделитель для мета данных файла и полезной части (блока json) -->
    <add key="delimiter" value=":  " />
    
    <!-- тут указывается папка в которую происходит сборка конечного файла -->
    <add key="outputFile" value="G:\\velcomtest\\processedJson\\hash.json" />
  
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
